/.gradle/*
/.settings/*
/bin/*
/eclipse/*
/eclipse/.metadata/.plugins/org.*
/eclipse/.metadata/.plugins/*
/build/*
/src/main/resources/assets/quartz/textures
/gradle/*
.classpath
.project
gradlew
gradlew.bat
/bin/
